/* Element (element_name) selection to specify style */

img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 15%;
}

/* Class (.class-name) selection to specify style */

.text {
    padding-left: 1.5%;
    padding-right: 1.5%;
}
